@keyframes pulse--white {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    transform: scale(0.90);
  }
  
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    transform: scale(1);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    transform: scale(0.90);
  }
}

.article__podpiska {
  align-items: center;
  display: flex;
  margin: 0 0 20px;
  padding: 20px;

  @media print {
    display: none;
  }

  &--telegram {
    background-color: #33a6dd;
    color: #fff;

    & > svg {
      animation: pulse--white 1s infinite;
      border-radius: 50%;
      height: 36px;
      margin: 0 20px 0 0;
      overflow: visible;
      transform: scale(1);
      width: 36px;

      path {
        fill: #fff;
      }
    }

    & a {
      color: #fff28a !important;
      text-decoration: underline;

      &:hover {
        color: #ffd78a;
      }
    }
  }
}
