.back-to-top {
    background-color: transparent;
    border: 0;
    bottom: -100px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    right: 64px;
    text-align: center;
    text-decoration: none;
    transition:
        bottom 0.2s linear,
        opacity 0.2s linear,
        bottom 0.2s linear,
        height 0.2s linear,
        right 0.2s linear,
        width 0.2s linear;
    width: 0;
    z-index: 3;

    &--active {
        bottom: 32px;
        height: 64px;
        opacity: 0.99;
        right: 32px;
        width: 64px;
    }

    &:active,
    &:focus,
    &:hover {
        & > svg {
            & > path {
                fill: var(--second-color--hover);
            }
        }
    }

    svg {
        height: 100%;
        width: 100%;

        path {
            fill: #222;
            display: block;
            transition: fill 0.2s linear;

            @media (prefers-color-scheme: dark) {
                fill: #ddd;
            }
        }
    }
}
