@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background);
  }
  .article__content a:hover {
    color: #fff;
  }
  .portfolio-category__wrapper {
    background-color: var(--dark-background);
  }
  .portfolio-category-header__link {
    color: #fff;
  }
  .portfolio-item {
    box-shadow: unset;
  }
  .portfolio-item:hover {
    box-shadow: unset;
  }
  .portfolio-item__more {
    background-color: #fff;
  }
  .navbar-menu.in {
    background-color: var(--dark-background);
  }
  .navbar .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar .navbar-nav .nav-link svg path {
    fill: #fff;
  }
  .article__content p {
    color: var(--dark-text);
  }
  .article ol li,
  .article ul li {
    color: var(--dark-text);
  }
  .resume-contacts-form {
    background-color: #333;
  }
  .resume__title {
    color: #fff;
  }
  .resume__content {
    color: var(--dark-text);
  }
  .resume-contacts-form h2 {
    color: #fff;
  }
  .resume__sidebar-title {
    color: #fff;
  }
  .resume-contacts-form p {
    color: #eee;
  }
  .resume-contacts-list__link {
    color: #ddd;
  }
  .resume-contacts label {
    color: #ddd;
  }
  .resume-contacts-list__link svg path {
    fill: #fff;
  }
  .article-item-title {
    color: #fff;
  }
  .article-item-description {
    color: #ddd;
  }
  .article-title {
    color: #fff;
  }
  .breadcrumbs {
    color: #ddd;
  }
  .breadcrumbs__a {
    color: #ddd;
  }
  .breadcrumbs__a svg path {
    fill: #ddd;
  }
  .index-articles {
    background-color: var(--dark-background);
  }
  .index-articles__header,
  .index-articles__header-link {
    color: #fff;
  }
  .latest-modx-version {
    background-color: #666;
    color: #ddd;
  }
  .sidebar-title {
    color: #fff;
  }
  ul.book_index_mini > li > a {
    color: #ddd;
  }
  .related-articles {
    background-color: #444;
  }
}
