.portfolio-item {
  box-shadow: #ccc 2px 2px 8px 2px;
  margin: 0 0 2rem;

  &__link {
    border: 0;
    border-radius: 0;
    display: block;
    overflow: hidden;
    padding: 0;
    text-decoration: none;

    overflow: hidden;

    &:hover {
      box-shadow: #ccc 2px 2px 8px 4px;
      color: var(--main-color--hover);
      text-decoration: none;

      .portfolio-item__image {
        &::after {
          transform: scale(1.1);
        }
      }
    }
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    transition: opacity, transform 0.2s linear;
    width: 100%;

    padding-bottom: 75%;

    &::after {
      background-image: inherit;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform-origin: center;
      transition: transform .4s ease-in-out;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &__info {
    background-color: #fff;
    color: var(--main-color);

    @media (prefers-color-scheme: dark) {
      background-color: #222;
      color: #fff;
    }

    &-title {
      color: var(--main-color);
      display: block;
      font-size: 1.2rem;
      line-height: 1.5;
      padding: 10px 5px;
      text-align: center;
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        color: #fff;
      }
    }
  }

  &__zoom.fa {
    color: var(--main-color);
    display: block;
    font-size: 3rem;
    height: 0;
    left: 45%;
    opacity: 0;
    position: absolute;
    text-shadow: #fff 0 0 20px;
    top: 45%;
    transition: opacity 0.2s linear;
    z-index: 1;
  }
}
