.sidebar-article {
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
  text-decoration: none;
  vertical-align: top;

  &:hover {
    background-color: #ddd;
    color: var(--main-color--hover);

    @media (prefers-color-scheme: dark) {
      background-color: var(--dark-background--hover);
    }
  }

  &__image {
    display: block;
    height: 50px;
    margin: 0 10px 0 0;
    width: 50px;
    min-width: 50px;
  }

  &__time {
    color: #666;
    display: none;
    font-size: 0.8rem;
  }

  &__title {
    color: #222;
    font-size: 1rem;

    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
  }

  &__views {
    color: #666;
    font-size: 0.8rem;
    margin: 0.5rem 0 0;

    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
  }
}
