@charset 'UTF-8';

@import '_variables.css';
@import '_fonts-yandex.css';
@import 'vendor/_lightbox.css';
@import '_media.css';
@import '_grid.css';
@import '_article__podpiska.css';
@import '_article-item.css';
@import '_article.css';
@import '_back-to-top.css';
@import '_breadcrumbs.css';
@import '_button.css';
@import '_doc.css';
@import '_footer.css';
@import '_forms.css';
@import '_header.css';
@import '_index-articles.css';
@import '_index-block.css';
@import '_inner-search.css';
@import '_latest-modx-version.css';
@import '_page-header.css';
@import '_pagination.css';
@import '_portfolio.css';
@import '_quasiform.css';
@import '_resume.css';
@import '_search.css';
@import '_sidebar-article.css';
@import '_tags.css';
@import '_top-menu.css';
@import '_topmenu-search-form.css';

@import '_dark.css';

html {
  font-size: 16px;
}

.page {
  &-container {
    position: relative;
    min-height: 100vh;
  }

  &-top {
    padding: 0 0 55px 0;
  }
}

body,
html {
  background-color: #eee;
  color: #111;
  font-weight: 400;
  font-family: 'YandexSansTextWeb', Verdana, Arial;
  margin: 0;
  overflow: visible;
  padding: 0;

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-background);
    color: #eee;
  }
}

::selection {
  background-color: var(--main-color--hover);
  color: #fff;
}

::-moz-selection {
  background-color: var(--main-color--hover);
  color: #fff;
}

footer,
header {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--second-color);
}

.clear {
  clear: both;
  line-height: 0;
  height: 0;
}

.menu_item_sep {
  display: none;
}

.a_cat a {
  text-decoration: none;
  line-height: 20px;
  color: #222;
  display: block;
}

.data_table {
  line-height: 20px;
  padding: 0;
  border-collapse: collapse;
  font-size: 1rem;

  & td {
    border: 0 solid #222;
    padding: 10px;
    vertical-align: top;

    &:first-child {
      text-align: left;
    }
  }
}

ul.none {
  list-style: none;
}

.qu_title {
  font-weight: bold;
}

.command_table {
  border: 0;
  font-family: monospace;
}

.command {
  background-color: #fefefe;
  font-family: monospace;
  padding: 4px;
  margin: 4px;
}

table {
  border-collapse: collapse;
}

table thead {
  background-color: #ddd;
}

table.table-bordered {
  border: 2px solid #aaa;
}

table.table-bordered td,
table.table-bordered th {
  border: 1px solid #aaa;
  padding: 10px;
}

table.table-bordered td {
  vertical-align: top;
}

.infinite-load {
  display: inline-block;
  text-align: center;
  background-color: var(--main-color--hover);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;

  &:hover {
    background-color: var(--second-color--hover);
    color: #fff;
  }

  &:active {
    background-color: var(--second-color--hover);
    color: #fff;
  }
}

.alert {
  border: 0;
  border-radius: 0;
}

.page_header {
  color: var(--main-color);

  a {
    color: var(--main-color);
  }
}

.index {
  @media print {
    display: none;
  }
}

@media (--mobile-up) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hidden-md-down {
    display: none!important;
  }
}
@media (--mobile) {
  .hidden-xs-down {
    display: none !important;
  }
}

.hidden-xs-up {
  display: none !important;
}

.rsya {
  margin: 0 0 20px;
}
